<script>
  onst template = Handlebars.compile(`
  <div class="blogs">
    <h2>{{title}}</h2>
    <p>{{excerpt}}</p>
    <a href="{{url}}" class="read-more">Read more</a>
  </div>
`);
console.log("34433")

const data = {
  title: 'My Blog Post',
  excerpt: 'This is a brief summary of my blog post',
  url: '/blog/my-post'
};
const html = template(data);

// Insert the rendered HTML into the page
document.getElementById('blogs').innerHTML = html;

</script>
