@media screen and (max-width: 600px){
    header {
        padding: 0;
    }
  
    .header-content {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        /* grid-template-columns: repeat(2, 1fr); */
        height: 100%;
    }

    .header-content .left-header .header-shape {
        transition: all 0.4s ease-in-out;
        height: 50%;
        background-color: var(--color-white);
        -webkit-clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
        clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
    }
    
}